<h3>Using Bank Notes Dataset</h3>

Link to dataset: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BankNote_Authentication.csv")
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [3]:
df.shape

(1372, 5)

In [4]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

Splitting the dataset

In [8]:
x = df.drop('class',axis=1)
y = df['class']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
x_train.shape

(1097, 4)

In [9]:
x_test.shape, y_test.shape

((275, 4), (275,))

Model Training

In [10]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=500, activation='relu') #max 500 epochs
#activation function by default its relu
mlp.fit(x_train, y_train)

MLPClassifier(max_iter=500)

PRedict

In [12]:
pred = mlp.predict(x_test)

Error metrics

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion matrix")
print(confusion_matrix(y_test, pred))

Confusion matrix
[[150   0]
 [  0 125]]

In [14]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       150
           1       1.00      1.00      1.00       125

    accuracy                           1.00       275
   macro avg       1.00      1.00      1.00       275
weighted avg       1.00      1.00      1.00       275