In [3]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm_notebook as tqdm

# Importing the dataset
dataset = pd.read_csv('~/Downloads/rl/data/Ads_Optimisation.csv')
adp=(dataset.sum()/dataset.shape[0]).tolist()

In [22]:
dataset

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [4]:
adp

[0.1703,
 0.1295,
 0.0728,
 0.1196,
 0.2695,
 0.0126,
 0.1112,
 0.2091,
 0.0952,
 0.0489]

In [5]:
def get_reward(a):
    """Pull arm of bandit with index `i` and return 1 if win, 
    else return 0."""
    if np.random.random() < adp[a]:
        return 1
    else:
        return 0

In [6]:
### argmax function
def argmax(q_values):
    """
    Takes in a list of q_values and returns the index
    of the item with the highest value. Breaks ties randomly.
    returns: int - the index of the highest value in q_values
    """
    #top = float("-inf")
    ties = []
    
    top=max(q_values)
    
    j=0
    for i in q_values:
        # if a value in q_values is greater than the highest value, then update top and reset ties to zero
        # if a value is equal to top value, then add the index to ties (hint: do this no matter what)
        # Note: You do not have to follow this exact solution. You can choose to do your own implementation.
        if i==top:
            ties.append(j)
        j+=1
    
    
    # return a random selection from ties. (hint: look at np.random.choice)
    return np.random.choice(ties)
    #return ties[0]

In [7]:
def get_action(q_values, rndm, epsilon):
    if rndm==1:
        current_action=np.random.randint(0, len(ads_cnt))
    else:
        current_action=argmax(q_values)
    #print(current_action)
    return current_action

In [32]:
### implementing greedy selection

#### return
#### q values
#### count of each action

#### argmax

experiments=1
steps=dataset.shape[0]
arms=dataset.shape[1]
ads_cnt=[0]*arms
greedy_ads_selected=[]
all_greedy_averages = []
greedy_q_hist=[]

for k in tqdm(range(experiments)):
    scores = [0]
    averages = []
    q_values=np.zeros(arms, dtype=np.float)
    
    for i in range(steps):        
        a = argmax(q_values)
        ads_cnt[a]+=1
        #reward=dataset.iloc[i, current_action]
        reward=get_reward(a)
        q_values[a] += (1/ads_cnt[a])*(reward - q_values[a])
        
        #for jj in range(len(ads_cnt)):
        #    if ads_cnt[j] > 0:
        #        reward=dataset.iloc[i,j]
        #        q_values[j]= q_values[j] + (1/ads_cnt[j])*(reward - q_values[j])


        #reward=dataset.iloc[i, current_action]
        greedy_ads_selected.append(a)

        scores.append(scores[-1] + reward)
        averages.append(scores[-1] / (i + 1))
            
    all_greedy_averages.append(averages)
    greedy_q_hist.append(q_values)
pd.Series(greedy_ads_selected).value_counts(normalize=False)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:17: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

0    9991
3       2
9       2
7       1
5       1
4       1
2       1
8       1
dtype: int64

In [39]:
### implementing optimistic initial values

epsilon=0.05
experiments=1
steps=dataset.shape[0]
arms=dataset.shape[1]
ads_cnt=[0]*arms
epsilon_ads_selected=[]
all_epsilon_averages = []
epsilon_q_hist=[]

for k in tqdm(range(experiments)):
    scores = [0]
    averages = []
    q_values=[5]*arms
    
    for i in range(steps):        
        if np.random.rand() > epsilon:
            # Take greedy action most of the time
            a = np.argmax(q_values)
        else:
            # Take random action with probability eps
            a = np.random.randint(0, arms)
            
        
        a = argmax(q_values)
        ads_cnt[a]+=1
        #reward=dataset.iloc[i, current_action]
        reward=get_reward(a)
        q_values[a] += (1/ads_cnt[a])*(reward - q_values[a])
        
        #for jj in range(len(ads_cnt)):
        #    if ads_cnt[j] > 0:
        #        reward=dataset.iloc[i,j]
        #        q_values[j]= q_values[j] + (1/ads_cnt[j])*(reward - q_values[j])


        #reward=dataset.iloc[i, current_action]
        epsilon_ads_selected.append(a)

        scores.append(scores[-1] + reward)
        averages.append(scores[-1] / (i + 1))
            
    all_epsilon_averages.append(averages)
    epsilon_q_hist.append(q_values)
pd.Series(epsilon_ads_selected).value_counts(normalize=False)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:12: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if sys.path[0] == '':

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

4    9991
7       1
6       1
5       1
3       1
2       1
9       1
1       1
8       1
0       1
dtype: int64

In [ ]:
#implement upper confidence bound